.hero{
    // width: 100%;
    .hero__wrapper{
        border-radius: 24px;
        width: 100%;
        height: 610px;
        background-image: url(../../assets/hero\ img.png)no-repeat center/cover;
    }
    &__content{
        width: 100%;
        padding-top: 167px;
        padding-bottom: 50px;
        background: #ffffff77;
        display: flex;
        flex-direction: column;
        align-items: center;
        // justify-content: center;
        b{
            max-width: 550px;
            font-size: 96px;
            font-weight: 900;
        }
        p{
            max-width: 447px;
            font-size: 22px;
            font-weight: 200;
            font-family: popins;
            margin-bottom: 24px;
        }
        button{
          padding: 16px 24px;  
          border-radius: 90px;
          background: transparent;
          border:2px solid #ddd ;
          font-size: 16px;
          font-weight: 900;
          color: #23262F;
          &:hover{
            background: #3B71FE;
            color: #fff;
            cursor: pointer;
          }
        }
    }
}
.box{
    padding: 0 80px 0 80px;
    &__block{
        padding: 40px;
        width: 100%;
        margin-bottom: 80px;
        margin-top: -153.5px;
        // border: 1px solid red;
        border-radius: 24px;
        background: #fff;
        box-shadow: 0 10px 20px rgba(199, 194, 194, 0.596);
        margin-bottom: 100px;
    }
    &__collection{
        display: flex;
        gap: 48px;
    }
    &__item{
        font-size: 14px;
        font-weight: 700;
        color: #777E90;
        margin-bottom: 30px;
        &:hover{
            color: #23262F;
        }
    }
    hr{
        margin-bottom: 32px;
    }
    &__inp{
       margin-bottom: 32px;
        input{
            padding: 12px 16px;
            outline: none;
            border: 1px solid #ddd;
            font-size: 14px;
            border-radius: 90px;
            margin-right: 20px;
            &:hover{
                background: #23262F;
                color: #fff;
                cursor: pointer;
            }
        }
        button{
            padding: 12px 16px;
            border: 1px solid #ddd;
            background: transparent;
            border-radius: 90px;
            color: #23262F;
            &:hover{
                background: #23262F;
                color: #fff;
                cursor: pointer;
            }
        }
    }
    &__content{
        display: flex;
    }
    &__text{
        width: 33.33%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        b{
            display: flex;
            align-items: center;
            font-size: 24px;
            font-weight: 900;
            font-family: popins;
            color: #23262F;
            img{
                width: 32px;
                height: 32px;
            }
        }
        p{
            margin-left: 34px;
            font-size: 12px;
            font-family: popins;
            font-weight: 300;
            color: #777E90;
        }
        
    }
    &__search{
        display: flex;
        align-items: center;
        justify-content: center;
    }
   
}




@media (max-width:1150px) {
.box{
    padding: 0 80px 0 80px;
    &__block{
        padding: 40px;
        width: 100%;
        height: 307px;
        margin-top: -153.5px;
        // border: 1px solid red;
        border-radius: 24px;
        background: #fff;
        box-shadow: 0 5px 20px;
        margin-bottom: 100px;
    }
    &__collection{
        display: flex;
        gap: 48px;
    }
    &__item{
        font-size: 14px;
        font-weight: 700;
        color: #777E90;
        margin-bottom: 30px;
        &:hover{
            color: #23262F;
        }
    }
    hr{
        margin-bottom: 32px;
    }
    &__inp{
       margin-bottom: 32px;
        input{
            padding: 12px 16px;
            outline: none;
            border: 1px solid #ddd;
            font-size: 14px;
            border-radius: 90px;
            margin-right: 20px;
            &:hover{
                background: #23262F;
                color: #fff;
                cursor: pointer;
            }
        }
        button{
            padding: 12px 16px;
            border: 1px solid #ddd;
            background: transparent;
            border-radius: 90px;
            color: #23262F;
            &:hover{
                background: #23262F;
                color: #fff;
                cursor: pointer;
            }
        }
    }
    &__content{
        display: flex;
    }
    &__text{
        width: 33.33%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        b{
            display: flex;
            align-items: center;
            font-size: 22px;
            font-weight: 800;
            font-family: popins;
            color: #23262F;
            img{
                width: 24px;
                height: 24px;
            }
        }
        p{
            margin-left: 67px;
            font-size: 12px;
            font-family: popins;
            font-weight: 300;
            color: #777E90;
        }
        
    }
   
    
    &__search{
        display: flex;
        align-items: center;
        justify-content: center;
        img{
            width: 32px;
            height: 32px;
        }
    }
   
}
}
@media (max-width:990px) {
    .hero{
        padding: 0 10px;
        width: 100%;
       &__content{
        width: 100%;
        b{
            font-size: 90px;
            font-weight: 800;
        }
        p{
            font-size: 20px;
            font-weight: 200;
            font-family: popins;
            margin-bottom: 24px;
        }
        button{
          padding: 16px 24px;  
          border-radius: 90px;
          background: transparent;
          border:2px solid #ddd ;
          font-size: 16px;
          font-weight: 900;
          color: #23262F;
          &:hover{
            background: #3B71FE;
            color: #fff;
            cursor: pointer;
          }
        }
       }
    }
    .box{
        padding: 0 30px;
        &__block{
            margin-top: -168.5px;
        }
    &__text{
        width: 50%;
        b{
            img{
                width: 32px;
                height: 32px;
            }
           }
       
    p{
            margin-left: 34px;
            font-size: 12px;
            font-family: popins;
            font-weight: 300;
            color: #777E90;
        }
    }
    .activ{
        display: none;
    }
    
    }
}

@media (max-width:750px) {
    .hero{
        width: 100%;
        padding: 0 10px;
       &__content{
        width: 100%;
        b{
            font-size: 70px;
            font-weight: 800;
        }
        p{
            font-size: 20px;
            font-weight: 200;
            font-family: popins;
            margin-bottom: 24px;
        }
        button{
          padding: 16px 24px;  
          border-radius: 90px;
          background: transparent;
          border:2px solid #ddd ;
          font-size: 16px;
          font-weight: 900;
          color: #23262F;
          &:hover{
            background: #3B71FE;
            color: #fff;
            cursor: pointer;
          }
        }
       }
    }
    .box{
        padding: 0 40px;
        &__collection{
            display: flex;
            gap: 20px;
            font-size: 13px;
            font-weight: 300;
        }
        &__block{
            margin-top: -190.5px;
            height: auto;
        }
        &__inp{
            display: none;
        }
    &__text{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        b{
            display: flex;
            align-items: center;
            font-size: 22px;
            font-weight: 800;
            font-family: popins;
            color: #23262F;
            img{
                width: 32px;
                height: 32px;
            }
        }
        p{
            margin-left: 34px;
            font-size: 12px;
            font-family: popins;
            font-weight: 300;
            color: #777E90;
        }
        
    }
    .active{
        display: none;
    }
    }
}
@media (max-width:550px) {
    .hero{
        width: 100%;
        padding: 0 10px;
        .hero__wrapper{
          height: 597px; 
        }
       &__content{
        width: 100%;
        margin-bottom: 200px;
        b{
            font-size: 70px;
            font-weight: 800;
        }
        p{
            font-size: 20px;
            font-weight: 200;
            font-family: popins;
            margin-bottom: 24px;
        }
        button{
          padding: 16px 24px;  
          border-radius: 90px;
          background: transparent;
          border:2px solid #ddd ;
          font-size: 16px;
          font-weight: 900;
          color: #23262F;
          &:hover{
            background: #3B71FE;
            color: #fff;
            cursor: pointer;
          }
        }
       }
    }
    .box{
        padding: 0 30px;
        &__collection{
            display: flex;
            gap: 20px;
            font-size: 13px;
            font-weight: 300;
        }
        &__block{
            margin-top: -198.5px;
            height: auto;
        }
        &__inp{
            display: none;
        }
    &__text{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        b{
            display: flex;
            align-items: center;
            font-size: 18px;
            font-weight: 700;
            font-family: popins;
            color: #23262F;
            img{
                width: 32px;
                height: 32px;
            }
        }
        p{
            margin-left: 34px;
            font-size: 13px;
            font-family: popins;
            font-weight: 300;
            color: #777E90;
        }
        
    }
    .active{
        display: none;
    }
    &__search{
        img{
            width: 44px;
            height: 44px;
        }
    }
    }
}

@media (max-width:450px) {
    .hero{
        width: 100%;
        padding: 0 10px;
       &__content{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 200px;
        b{
            max-width: 296px;
            font-size: 50px;
            font-weight: 800;
        }
        p{
            max-width: 296px;
            font-size: 16px;
            font-weight: 200;
            font-family: popins;
            margin-bottom: 24px;
            display: flex;
            margin: auto;
        }
        button{
          padding: 14px 22px;  
          border-radius: 90px;
          background: transparent;
          border:2px solid #ddd ;
          font-size: 16px;
          font-weight: 900;
          color: #23262F;
          margin-top: 15px;
          &:hover{
            background: #3B71FE;
            color: #fff;
            cursor: pointer;
          }
        }
       }
    }
    .box{
        padding: 0 30px;
       
        &__collection{
            display: flex;
            gap: 10px;
            font-size: 12px;
            font-weight: 300;
        }
        &__block{
            margin-top: -190.5px;
            height: auto ;
            padding: 20px;
        }
        &__inp{
            display: none;
        }
    &__text{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        b{
            display: flex;
            align-items: center;
            font-size: 16px;
            font-weight: 700;
            font-family: popins;
            color: #23262F;
            img{
                width: 30px;
                height: 30px;
            }
        }
        p{
            margin-left: 34px;
            font-size: 12px;
            font-family: popins;
            font-weight: 300;
            color: #777E90;
        }
        
    }
    .active{
        display: none;
    }
    &__search{
        img{
            width: 44px;
            height: 44px;
        }
    }
    }
}
      
       